footer {
    width: 100%;
    height: 900px;
    background-color: #006d77;
    @include center;
    .last {
        width: 70%;
        height: 700px;
        .title {
            display: flex;
            justify-content: center;
            h1 {
                color: #fff;
                font-size: 56px;
                margin-bottom: 50px;
            }
        }
        .main {
            @include between;
            width: 100%;
            height: 90%;
            .box {
                .p1 {
                    display: inline-block;
                    color: #98A2B3
                }
                
                padding: 40px 32px;
                width: 290px;
                height: 450px;
                background-color: #fff;
                border-radius: 20px;
                h1 {
                    font-size: 35px;
                    color-scheme: #101828;
                }
                h2 {
                    color-scheme: #101828;
                    font-size: 22px;
                    margin-bottom: 15px;
                }
                p {
                    color: #98a2b3;
                    margin-bottom: 21px;
                    padding-bottom: 40px;
                }
                .foot-button {
                    margin: 20px auto;
                    background-color: white;
                    border: 3px solid black;
                    width: 200px;
                    height: 40px;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: 18px;
                    &:hover {
                    background-color: black;
                    color: white;
                    }
               }
           }
      }
  }
}